html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
}
body{
    background: rgb(175,173,210);
background: linear-gradient(0deg, rgba(175,173,210,1) 0%, rgba(195,232,232,1) 38%, rgba(255,255,255,1) 96%);
}
.bgimg{
    height:110vh;
    width: 95%;
    position: absolute;   
}
.bg{
    position: absolute;
    z-index: -1;
}
.logo{
    height: 70px;
    width: 40px;
    padding: 20px;
}
.navbar{
    background-color: rgb(0px,0px,0px,0.5px);

}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav ul{
    flex: 1;
    text-align: left;
    padding-left: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px ;
}

nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a .loginbtn::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}

nav ul li a .loginbtn:hover::after{
    width: 100%;
}
.navbar{
    display: flex;
}
.sign{
    padding-right: 30px;
}
.loginbtn{
    background-color:rgb(12,24,81);
    border-style: none;
    border-radius: 100px;
    font-size: 13px;
    box-shadow: 2px 2px 10px 2px #888888;
    width: 70px;
    height: 30px;
}



.list{
    padding: 50px;
    padding-left: 70px;
}    
.video{
    object-fit: cover;
    height:900px;
} 



.heading{
    margin-left: 150px;
    margin-top: 80px;
    font-size: 60px;
    color: white;
}
.first{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(145, 31, 221, 0), rgba(255, 255, 255, 0.75), rgba(145, 31, 221, 0));
    width: 500px;
    padding-left:280px;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}


.fond {
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.0;
}

.carreaux_presentation_light {
    display: table-cell;
    width: 250px;
    height: 250px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.carreaux_presentation_light .shadow_swhow_mini {
    background-color: rgba(74, 77, 79, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.carreaux_presentation_light:hover .shadow_swhow_mini {
    background-color: rgba(99, 131, 213, 0);
}

.carreaux_presentation_light .deroul_titre {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top: 60%;
    left: -80%;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.carreaux_presentation_light:hover .deroul_titre {
    background-color: #020110;
    left: 0px;

}

.carreaux_presentation_light .deroul_soustitre {
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top: 60%;
    right: -85%;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
}

.carreaux_presentation_light:hover .deroul_soustitre {
    background-color: #417c74;
    right: 0px;
}
.focusimg{
    width: 50px;
    height: 50px;
}
.scholarimg{
    width: 50px;
    height: 50px;
}
.outcomeimg{
    width: 50px;
    height: 50px;
}
.projectimg{
    width: 50px;
    height: 50px;
}
.ongoing{
    width: 50px;
    height: 50px;
}
.publication{
    width: 50px;
    height: 50px;
}
.industry{
    width: 50px;
    height: 50px;
}
.domain{
    width: 50px;
    height: 50px;
}
.labs{
    width: 50px;
    height: 50px;
}
.software{
    width: 50px;
    height: 50px;
}
#myBtn {
    width:50px;
    height:50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index:99;
    border: none;
    outline: none;
    color: #070210;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    background-size:cover;
    background-image: url(top.png);
    border-radius: 100px;

}
.last{
    background-color: #1b1b22;
    
}
.lastimg{
    width: 190px;
    height: 300px;
    padding-top: 30px;
    display: block;
    margin: auto;
}
.social{
    margin-left: 565px;
}
.google{
    width: 50px;
    height: 50px;
    padding: 20px;
}

  .publ{
    width: 200px;
    height: 50px;
    background-color:rgb(98, 93, 152);
    border-radius: 100px;
    font-size:larger;
    cursor: pointer;
  }
  .publ:hover{
    box-shadow: 5px 11px 20px 2px #417c74;
    
  }
  .coursebtn{
    width: 200px;
    height: 50px;
    border-radius: 90px;
    font-size: larger;
    background-color:rgb(141, 7, 112);
    
    
  }
  .coursebtn:hover{
    background-color: rgb(141, 7, 112);
    box-shadow: 2px 2px 10px 2px black; 
    
  }
  .allbtn{
    width: 150px;
    height: 50px;
    background-color:#6a5acd	;
    border: none;
    border-radius: 100px;
    color: white;
}
.allbtn:hover{
    box-shadow: 5px 11px 20px 2px #417c74;
}
.btn2020{
    width: 150px;
    height: 50px;
    background-color: #6a5acd	;
    border: none;
    border-radius: 100px;
    color: white;
}
.btn2020:hover{
    box-shadow: 5px 11px 20px 2px #417c74;
}
.btn2013{
    width: 150px;
    height: 50px;
    background-color:#6a5acd	;
    border: none;
    border-radius: 100px;
    color: white;
    
}
.btn2013:hover{
    box-shadow: 5px 11px 20px 2px #417c74;
}
.btn2021{
    width: 150px;
    height: 50px;
    background-color: #6a5acd	;
    border: none;
    border-radius: 100px;
    color: white;
}
.btn2021:hover{
    box-shadow: 5px 11px 20px 2px #417c74;
}
.others{
    width: 150px;
    height: 50px;
    background-color: #6a5acd	;
    border: none;
    border-radius: 100px;
    color: white;
}
.others:hover{
    box-shadow: 5px 11px 20px 2px #417c74;
}
button{
    font-size: 15px;
}